<ion-content [fullscreen]="true" class="ion-padding">

  <div>

    <ion-avatar>
      <img alt="Logo" src="../../assets/icon/favicon.png" />
    </ion-avatar>
    <div>
      <h1>X</h1>
      <ion-note>Connectivity and Crypto</ion-note>
    </div>

  </div>

  <hr>

  <ion-button color="light" expand="block" id="sign-in">Registrar</ion-button>
  <ion-button color="primary" expand="block" id="log-in">Entrar</ion-button>

  <ion-modal #modal1 trigger="log-in" [initialBreakpoint]="1" [breakpoints]="[0, 1]">

    <ng-template>
      <ion-content class="ion-padding">
        <ion-toolbar>
          <ion-title>Entrar</ion-title>
          <ion-buttons slot="end">
            <ion-button color="danger" (click)="modal1.dismiss()"> <ion-icon name="arrow-down-outline"></ion-icon> </ion-button>
          </ion-buttons>
        </ion-toolbar>

        <form>
          <div class="form">
            <ion-input label="E-mail" labelPlacement="floating" fill="outline" type="email" placeholder="Digite seu email"></ion-input>
            <ion-input label="Senha" labelPlacement="floating" fill="outline" type="password" placeholder="Digite sua senha"></ion-input>
          </div>
          <ion-button expand="block" (click)="modal1.dismiss()" [routerLink]="['/home']">Entrar</ion-button>
        </form>

      </ion-content>
    </ng-template>

  </ion-modal>
  <ion-modal #modal2 trigger="sign-in" [initialBreakpoint]="1" [breakpoints]="[0, 1]">

    <ng-template>
      <ion-content class="ion-padding">
        <ion-toolbar>
          <ion-title>Entrar</ion-title>
          <ion-buttons slot="end">
            <ion-button color="danger" (click)="modal2.dismiss()"> <ion-icon name="arrow-down-outline"></ion-icon> </ion-button>
          </ion-buttons>
        </ion-toolbar>

        <form>
          <div class="form">
            <ion-input label="CPF/CNPJ" maxlength="18" [(ngModel)]="cpf_cnpj" (keydown)="cpf_cnpj = format(cpf_cnpj)" (keyup)="cpf_cnpj = format(cpf_cnpj)" name="cpf_cnpj" labelPlacement="floating" fill="outline" type="cpf" placeholder="Digite seu CPF ou CNPJ"></ion-input>
            <ion-input label="E-mail" labelPlacement="floating" fill="outline" type="email" placeholder="Digite seu email"></ion-input>
            <ion-input label="Senha" labelPlacement="floating" fill="outline" type="password" placeholder="Digite sua senha"></ion-input>
            <ion-input label="Senha" labelPlacement="floating" fill="outline" type="password" placeholder="Confirme sua senha"></ion-input>
          </div>
          <ion-button expand="block" (click)="modal2.dismiss(); register()">Registrar</ion-button>
        </form>

      </ion-content>
    </ng-template>

  </ion-modal>
</ion-content>
