<ion-menu side="end" contentId="main-content">
  <hr>

  <ion-content class="ion-padding">
    
    <ion-menu-toggle class="clickable">
      <ion-list>
        <ion-button id="trade-modal"> 
          <ion-icon name="swap-horizontal-outline" slot="start"></ion-icon> 
          Taxa de Câmbio
        </ion-button>
        <ion-button > 
          <ion-icon name="accessibility-outline" slot="start"></ion-icon> 
          Suporte ao cliente
        </ion-button>
        <ion-button> 
          <ion-icon name="information-circle-outline" slot="start"></ion-icon> 
          Sobre a empresa
        </ion-button>
        <ion-button> 
          <ion-icon name="help-circle-outline" slot="start"></ion-icon>
          Sobre o aplicativo
        </ion-button>
        <ion-button> 
          <ion-icon name="cog-outline" slot="start"></ion-icon> 
          Configurações
        </ion-button>
        <hr>
        <ion-button color="danger" [routerLink]="['/login']"> 
          <ion-icon name="log-out-outline"></ion-icon> 
          Sair
        </ion-button>
      </ion-list>
    </ion-menu-toggle>
    
  </ion-content>

</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      
      <div slot="start">
        <ion-avatar>
          <img alt="Logo" class="menu-logo" src="../../assets/icon/favicon.png" />
        </ion-avatar>
      </div>

      X - Connvectivity & Crypto

      <ion-buttons slot="end">
        <ion-menu-button color="dark"></ion-menu-button>
      </ion-buttons>

    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">

    <ion-item>

      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>Alex</ion-label>

    </ion-item>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Saldo em Real</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-card-subtitle color="">R$ 3 000,00</ion-card-subtitle>
        Clique aqui para mais opções
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>Saldo em Conectividade</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-card-subtitle color="">X$ 500,00</ion-card-subtitle>
        Clique aqui para mais opções
      </ion-card-content>
    </ion-card>
    
    <hr style="background: gray">
    
    <div style="display: flex; justify-content: center;">
      <ion-spinner name="dots"></ion-spinner>
    </div>

  </ion-content>

  <ion-modal #trade trigger="trade-modal">

    <ng-template>
      <ion-content class="ion-padding">
        <ion-toolbar>
          <ion-title>Taxa de Câmbio</ion-title>
          <ion-buttons slot="end">
            <ion-button color="danger" (click)="trade.dismiss()"> <ion-icon name="close"></ion-icon> </ion-button>
          </ion-buttons>
        </ion-toolbar>

        <ion-badge>(NOW) Exchange: X$ 1,00 = R$ {{exchangeVal.toFixed(2).replace(".", ",")}}</ion-badge>

        <form (submit)="trade.dismiss()">
          <div class="form" id="swap-input">
            <ion-input [(ngModel)]="coin" (input)="conCoin = setConCoin(coin); coin = formatCoin(coin)"  name="coin" id="moeda" label="Real" labelPlacement="floating" fill="outline" type="text"></ion-input>
            <ion-button class="clickable" (click)="swapInput()" ><ion-icon name="swap-vertical-outline"></ion-icon></ion-button>
            <ion-input [(ngModel)]="conCoin" (input)="coin = setCoin(conCoin); conCoin = formatConCoin(conCoin)"  name="conCoin" id="moeda-con" label="Conectividade" labelPlacement="floating" fill="outline" type="text" disabled="true"></ion-input>
          </div>
          
          <ion-button type="submit">Confirmar</ion-button>
        </form>

      </ion-content>
    </ng-template>

  </ion-modal>
</div>
