ion-list ion-icon {
    position: absolute;
    left: 0;
}

ion-button {
    width: 100%;
}

ion-title {
    display: flex;
    align-items: center;
}

form {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    ion-input, ion-button {
        margin-top: 10px;
    }
}

.form {
    display: flex;
    flex-direction: column;
}

.clickable, ion-button {
    pointer-events: auto !important;
}
